.app {
  height: 100vh;
}

.appDark {
  height: 100vh;
  background-color: black;
}

.switchMode {
  display: flex;
  align-items: center;
  height: 100%;
}

.items {
  display: flex;
  align-items: center;
  margin: auto;
  color: grey;
}

.shiningSun {
  color: orange;
}

.darkMoon {
  color: purple;
}
